<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a  href="<%= root_path %>">
        <div>
          <%= image_tag 'original@110.png', class: 'logo-image'%>
        </div>
      <h1 class="navbar-brand-name">Digital Library</h1>
      </a>
    </div>


    <div class="collapse navbar-collapse" id="user-util-collapse">


      <%= render :partial=>'/shared/user_util_links' %>
    </div>
  </div>
</div>
