<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, class: 'navbar-brand' do%>
          <%= image_tag 'original@87.png', alt: 'Digital Library' %>
          <% end %>
    </div>
    
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/shared/user_util_links' %>
    </div>
    <%= link_to (image_tag 'vecnet-text-only@100x40.png',{:"data-svg-fallback" => "#{image_path('vecnet-text-only@100x40.png')}",  class: 'vecnet-logo',  :alt => 'VecNET'}), "https://www.vecnet.org/"  %>

  </div>
</div>