<% content_for :page_title, "#{response.status} Authorization Error" %>

<div class="content">
  <h1>Unauthorized</h1>
<p>You are not authorized to access the page.</p>
<% unless current_user -%>
  <p><%= link_to 'Login', user_login_url(request.original_url), :class => 'btn' %></p>
<% end -%>
</div>
