<% content_for :page_title, "#{response.status} Internal Server Error" %>

<div class="content">
  <h1>Internal Server Error</h1>
<p>
VecNet Digital Library has encountered a problem.
We have been notified of the problem and will be looking into it.
It is possible that the error is temporary so feel free to try again in a bit.
</p>
</div>
