<% if query_has_constraints? %>

    <fieldset>
      <legend class="col-md-2">Applied</legend>

    <div class="col-md-10">

    <div id="appliedParams" class="clearfix">

      <%= render_constraints(params) %>

    </div>

    </div>

    </fieldset>
<% end %>
