<% if query_has_constraints? %>

    <fieldset>
      <legend class="">Applied</legend>

    <div class="col-md-offset-2 col-md-10 form-group">

    <div id="appliedParams" class="clearfix">

      <%= render_constraints(params) %>

    </div>

    </div>

    </fieldset>
<% end %>
