<div id="documents" class="docView vndl-results">
  <%= render documents, :as => :document %>
</div>

<% comment do
  Comment out geoblacklight map element temporarily %>

    <%= content_tag :div, '', id: 'map', data: {map: 'index', 'catalog-path' => catalog_index_path, 'map-bbox' => params[:bbox]} %>

<% comment end %>

<!--Pagination at the bottom of the search results-->
<%= render 'sort_and_per_page' %>