
<!--TODO: Put this into a flexbox to avoid height issues-->
<div class="about-text vndl-results row">
    <!-- Boxes de Acoes -->
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="glyphicon glyphicon-book"></i></div>
          <div class="info">
            <h3 class="title">What is the Digital Library?</h3>
            <p>
              VecNet Digital Library contains curated data, tagged citations, articles and reports on entomology, epidemiology, demography and interventions to support malaria eradication.
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="info">
            <h3 class="title">Geospatially Aware</h3>
            <p>
              The Digital Library can find records by location or let you just browse around the big friendly map.  Use faceting to narrow down results and plot them on a map.
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="glyphicon glyphicon-ok"></i></div>
          <div class="info">
            <h3 class="title">Contributor Friendly</h3>
            <p>
              VecNet users are encouraged to upload documents to the Digital Library. Upload documents to the Digital Library, or feel free to contact us.
            </p>
            <div class="more">
              <a href="#" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <!-- /Boxes de Acoes -->
  </div>
