
<% vecnet_domain = 'https://www.vecnet.org'
   ci_domain = 'https://ci.vecnet.org'
-%>

<div class="about-text vndl-results">

  <div class="box">
    <div class="icon"><i class="glyphicon glyphicon-book"></i></div>
    <div class="info">
      <h3 class="title">What is the Digital Library?</h3>
      <p>
        The VecNet Digital Library contains curated data, tagged citations, articles and reports on entomology, epidemiology, demography and interventions to support malaria eradication.
      </p>
      <a class="more" href="<%="#{vecnet_domain}/index.php/about-vecnet/vecnet-how-to" %>" title="Title Link">
        Read More <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>

  <div class="box">
    <div class="icon"><i class="glyphicon glyphicon-globe"></i></div>
    <div class="info">
      <h3 class="title">Geospatially Aware</h3>
      <p>
        The VecNet Digital Library can find records by location or just browse around the big friendly map.  Use filters  to narrow down results and plot them on a map.
      </p>
      <a class="more" href="#" title="Geospatial read more">
        Read More <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>

  <div class="box">
    <div class="icon"><i class="glyphicon glyphicon-ok"></i></div>
    <div class="info">
      <h3 class="title">Contributor Friendly</h3>
      <p>
        VecNet Digital Library users are encouraged to give feedback and upload documents while using the Digital Library. Contact us anytime using the Contact link.
      </p>
      <a class="more" href="<%= "#{vecnet_domain}/index.php/about-vecnet/information-sharing" %>" title="Contributor read more">
        Read More <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>

</div>

<% comment do %>

<!--TODO: Put this into a flexbox to avoid height issues-->
  <div class="about-text flexbox vndl-results row">
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="glyphicon glyphicon-book"></i></div>
          <div class="info">
            <h3 class="title">What is the Digital Library?</h3>
            <p>
              The VecNet Digital Library contains curated data, tagged citations, articles and reports on entomology, epidemiology, demography and interventions to support malaria eradication. </p>
            <div class="more">
              <a href="<%="#{vecnet_domain}/index.php/about-vecnet/vecnet-how-to" %>" title="Title Link">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="info">
            <h3 class="title">Geospatially Aware</h3>
            <p>
              The VecNet Digital Library can find records by location or just browse around the big friendly map.  Use filters  to narrow down results and plot them on a map.
            </p>
            <div class="more">
              <a href="#" title="Geospatial read more">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="glyphicon glyphicon-ok"></i></div>
          <div class="info">
            <h3 class="title">Contributor Friendly</h3>
            <p>
              VecNet Digital Library users are encouraged to give feedback and upload documents while using the Digital Library. Contact us anytime using the Contact link.
            </p>
            <div class="more">
              <a href="<%= "#{vecnet_domain}/index.php/about-vecnet/information-sharing" %>" title="Contributor read more">
                Read More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
  </div>

  <% end %>

