<% # main container for facets/limits menu  -%>


<% if query_has_constraints? %>

    <fieldset>
      <legend id="browse-or-filter" class="col-md-2">Filter</legend>
      <div id="col-md-10 facets" class="facets sidenav">

        <div id="facet-panel-collapse" class="collapse">
          <%= render_facet_partials %>
        </div>
      </div>
    </fieldset>

<% elsif has_facet_values? %>

<fieldset>
  <legend id="browse-or-filter" class="col-md-2">Browse</legend>
  <div id="col-md-10 facets" class="facets sidenav">

    <div id="facet-panel-collapse" class="collapse">
      <%= render_facet_partials %>
    </div>
  </div>
</fieldset>

<% end %>