<div class="contentwrapper">

  <div class="mapwrapper col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <div id="map" class="map"></div>
  </div>

  <div id="content" class="content col-xs-11 col-sm-11 col-md-11 col-lg-11">


    <% unless has_search_parameters? %>
      <%# if there are no input/search related params, display the "home" partial %>

      <%= render 'vndl_search_form' %>

      <!--example front page text start-->
      <%= render 'example_front_page_text' %>
      <!--example front page text end -->

    <% else %>

      <%= render 'search_results' %>

    <% end %>

    <!--footer partial start-->
    <%= render 'shared/vndl_footer' %>
    <!--footer partial end-->

  </div>
  <!-- end of .content -->
</div>
<!-- end of .contentwrapper -->
</div>




