<div class="contentwrapper">

  <div class="mapwrapper col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <div id="map" class="map"></div>
  </div>

  <div class="content col-xs-11 col-sm-11 col-md-11 col-lg-11">

    <%= render 'vndl_search_form' %>

    <!--results list groups start-->

    <!--render 'example_search_results'-->

    <%=  %>

    <!--results list group end-->

    <!--example front page text start-->

    <%= render 'example_front_page_text' %>

    <!--example front page text end -->


    <!--footer start-->
    <%= render 'shared/vndl_footer' %>

  </div>
  <!-- end of .content -->
</div>
<!-- end of .contentwrapper -->
</div>




