<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Metadata </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-8">
      <input type="search" id="search" value="" class="form-control" placeholder="Search for text">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table" id="table">
        <thead>
        <tr>
          <th>Field Name</th>
          <th>Field Value</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Introducing</td>
          <td>jQuery</td>

        </tr>
        <tr>
          <td>Lorem</td>
          <td>Ipsum</td>

        </tr>
        <tr>
          <td>Some</td>
          <td>More</td>

        </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
</div>