<div class="col-xs-4 col-md-2">

  <% hash = JSON.parse(@document[:dct_references_s]) %>
  <% thumbnailUrl = hash["http://schema.org/thumbnailUrl"]%>

  <% downloadUrl = hash["http://schema.org/downloadUrl"]
     if downloadUrl.nil? || downloadUrl.length > 1
       downloadUrl = url_for_document(@document)
     else
       downloadUrl = downloadUrl.first
     end -%>

  <%= link_to downloadUrl, class: 'thumbnail', title: 'document thumbnail', alt: 'document thumbnail' do %>
      <img src="<%= thumbnailUrl%>" onError="imgError(this);" />
  <% end -%>
</div>
