<div class="col-xs-4 col-md-2">

  <% hash = JSON.parse(@document[:dct_references_s]) %>
  <% downloadUrl = hash["http://schema.org/downloadUrl"]%>
  <% thumbnailUrl = hash["http://schema.org/thumbnailUrl"]%>

  <% downloadUrl = url_for_document(@document) if downloadUrl.nil? -%>

  <%= link_to downloadUrl, class: 'thumbnail', title: 'document thumbnail', alt: 'document thumbnail' do %>
      <img src="<%= thumbnailUrl%>" onError="imgError(this);" />
  <% end -%>
</div>