<% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
<% else %>

    <% comment do %> This has been moved to the _search_header partial for the "content" div for js manipulation

        <div id="sidebar" class="col-md-3 col-sm-4">
          <%= render 'search_sidebar' %>
        </div>

    <% comment end %>

    <div id="content" class="col-md-9 col-sm-8">
      <%= render 'search_results' %>
    </div>
<% end %>