<% content_for :sidebar do -%>
    <p><%= link_back_to_catalog %></p>
<% end -%>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3><%= facet_field_labels[params[:id]||'dc_subject_h_facet'] %></h3>
</div>

<div class="modal-body">
  <%= render "hierarchy_facet_help_text", hierarchy: 'Subject terms' %>
 <ul class="facet-hierarchy">
   <% facet_field = facet_configuration_for_field(params[:id]||'dc_subject_h_facet') %>
   <%= render_hierarchy(facet_field) %>
 </ul>
</div>