
$add-facet-plus-button-width: 38px;
$add-facet-padding: 6px;
$column-width: 210px;

.panel-title a {
  text-decoration: none;
}

#facet-panel-collapse {
	-webkit-column-width: $column-width;
	   -moz-column-width: $column-width;
            column-width: $column-width;
	-webkit-column-gap: 0;
	   -moz-column-gap: 0;
            column-gap: 0;
    text-align: center;
}

a.more_facets_link {
	display: inline-block;
	padding: $add-facet-padding;
	width: 100%;
	.btn-group {
		padding-top: 0;
		padding-bottom: 0;
	}
	> .btn-group > .btn-group:first-of-type > .btn {
		// this is the facet name text, to the left of the plus button
		min-width: $column-width - $add-facet-padding - $add-facet-padding - $add-facet-plus-button-width;
	}
}