.logo-image {
  position: absolute;
  top: 5px;

  height: 86px;
  margin-right: 10px;
  margin-left: -12px;

  vertical-align: middle;
  // playing around with stamp look

  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: $screen-sm) {
    height: 26px;
  }
}
#header-navbar {
  margin-bottom: 0;

  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  .navbar-brand {
    width: 376px;
    height: 80px;
    padding: 0 0 0 15px;

    background: transparent;

    //    TODO: Change this image size so no margin required - as screws responsive
    img {
      position: absolute;
      top: 5px;

      height: 86px;
      margin-right: 10px;
      margin-left: -12px;

      vertical-align: middle;
      // playing around with stamp look

      box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
      @media screen and (max-width: $screen-sm) {
        height: 26px;
      }
    }
  }
}
.nav.navbar-nav > li > a {
  margin-top: 25.5px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0;

  text-decoration: none;
  text-transform: uppercase;
  &:hover, &:focus {
    border-bottom: 2px solid white;
  }
}
.navbar-brand-name {
  font-family: sans-serif;

  display: inline-block;

  margin-left: 105px;

  color: white;

  //outline: solid 3px red;
}
.beta-tag {
  font-family: $font-family-betatag;

  display: inline-block;

  padding: 10px;

  vertical-align: super;

  color: white;
}
.superscript {
  font-size: 120%;

  position: relative;
  top: -0.5em;
}
.vecnet-home-link {
  position: relative;
  top: -3px;

  padding-right: 3px;
  padding-left: 3px;

  opacity: 0.8;
  color: #00a3bb;
  border-radius: 2px;

  //background-image: linear-gradient(to top, white, white 20px, #00a3bb 20px);
}
.vecnet-home-link:hover {
  opacity: 1;
  border-bottom: none;
}
