#header-navbar {
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2);
  margin-bottom: 0;

  .navbar-brand {
    background: transparent;
    padding: 0px 0 0px 15px;
    width: 376px;
    height: 80px;


//    TODO: Change this image size so no margin required - as screws responsive
    img {

      // playing around with stamp look
      //box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2);

      height: 86px;
      position: absolute;
      top: 5px;
      margin-right: 10px;
      margin-left: -12px;
      vertical-align: middle;
      @media screen and (max-width: $screen-sm) {
        height: 26px;
      }
    }
  }
}

.nav.navbar-nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 45.5px;

  &:hover,
  &:focus {
    border-bottom: 2px solid white;
  }
}