.leaflet-container {
  background: none;
  
  // Needed to overwrite a font set by Leaflet-Rails
  font-family: 'Source Sans Pro', sans-serif;
}
// TODO : Determine


//.leaflet-zoom-animated {
//
//transition: 0.25s;
//
//}
