
//Colors
$pantone-405: #5f574f;
$beige-20-percent: #e9e6df;
$cardinal-red: #8c1515;
$vecnet-blue: #00a3bb;
$beige-10-percent: #f2f1eb;
$dark-red: #820000;
$gray-90-percent: #565347;
$white: #F8F8FF;
$button-notch-thing: #5f574f;
//$icon-box-background: #63B76C;
$icon-box-background: #337ab7;
$icon-green: #0f9d58;

// map and page layout vars
// $result-column-width: 700px;
$inactive-map-width: 60px;
$map-notch-width: ceil(0.33 * $inactive-map-width);
$content-bg: #fff;
$search-result-highlight: #ffffc4;
$search-result-highlight: #e8f8ff;
$header-bg: #00a3bb;
$line-color: #f8f8f8;
$map-bg-color: #f5f5f5;

// things inside form fieldsets
$fieldset-child-padding: 6px;

// narrow button-y things in fieldsets can be in columns
$column-width: 210px;

//override some blacklight/geoblacklight defaults
$logo_image: null;

$font-family-betatag: Lato;